<%- include('layout/header') %>

<div class="container">
  <div class="row my-4">
    <div class="col-lg-12">
      <h1>Update User Game History Page</h1>
      <div class="card shadow">
        <div class="card-header bg-primary">
          <h3 class="text-white">Update User Game History</h3>
        </div>
        <div class="card-body p-4">
          <form action="/view/update-user-games-history/<%= usergamehistory.id %> " method="post" id="add-form">
            <div class="mb-3">
              <label for="nama_game">Nama Game</label>
              <input type="text" class="form-control" id="nama_game" name="nama_game" placeholder="Nama Game" value="<%= usergamehistory.nama_game %>" required />
            </div>
            <div class="mb-3">
              <label for="waktu_bermain">Waktu Bermain</label>
              <input type="text" class="form-control" id="waktu_bermain" name="waktu_bermain" placeholder="Waktu Bermain" value="<%= usergamehistory.waktu_bermain%>" required />
            </div>
            <div class="mb-3">
              <label for="skor_game">Skor Game</label>
              <input type="text" class="form-control" id="skor_game" name="skor_game" placeholder="Skor Game" value="<%= usergamehistory.skor_game %>" required />
            </div>
            <div class="mb-3">
              <label for="id_user">ID User</label>
              <input type="text" class="form-control" id="id_user" name="id_user" placeholder="ID User" value="<%= usergamehistory.id_user %>" required />
            </div>
            <div class="mb-3 d-grid">
              <button type="submit" name="submit" class="btn btn-primary btn-lg">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %>
